<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Competitor Analysis Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
        function showLoading() {
            document.getElementById("loading-message").style.display = "block";
        }
    </script>
</head>
<body>
    <h1>Competitor Analysis Tool</h1>
    <div style="text-align: right; margin-bottom: 20px;">
        Welcome, {{ session.username }}! | <a href="{{ url_for('logout') }}">Logout</a>
    </div>

    {% if error %}
        <div class="error-message">{{ error }}</div>
    {% endif %}

    <form method="post" action="/" onsubmit="showLoading()">
        <label for="target_company">* Target Company Name:</label>
        <input type="text" id="target_company" name="target_company" value="AppWork">

        <label for="target_url">* Target Company URL:</label>
        <input type="text" id="target_url" name="target_url" value="https://appworkco.com/">

	<label for="notes">Any additional notes: (Consider warning about close adjacent verticals)</label>
	<input type = "text" id="notes" name="notes" value="">

	<label for="categories">If you want to submit categories for the companies to be classified into, enter them here. Format your input so that each category is in quotes, there's a comma between each, and the set of them is enclosed in brackets. <br></br> For example, ["Category 1", "Category 2", "Category 3"]</label>
	<input type = "text" id="categories" name="categories" value="">

        <input type="submit" value="Generate Competitive Landscape">
    </form>

    <p id="loading-message">Analyzing competitors... This will take 10-15 minutes.</p>
</body>
<br></br>
<img src="{{ url_for('static', filename='Resolve_Branding_Final_Logos_25_1778a3c00d.png') }}"
     alt="Resolve Logo"
     style="max-width: 200px; margin-bottom: 1rem; border-radius: 12px;">
</html>

